<mat-card>
  <mat-card-header>
    <mat-card-title>Expense Statistics</mat-card-title>
  </mat-card-header>

  <mat-list role="list">
    <mat-list-item *ngFor="let expense of expenseAgg" role="listitem">
      <!-- {{ expense.categoryName }}  {{ expense.sum | currency: 'INR' }} -->
      <div class="width-50">
        {{ expense.categoryName }}
      </div>
      <div class="width-50 text-align-right">
        {{ expense.sum | currency: 'INR' }}
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
