.spacer {
    flex: 1 1 auto;
  }

  .router-body {
      padding: 20px;
      background-color:darkslategray;
      height: 150vh;
  }

  mat-sidenav-container {
      height: 100%;
  }

  mat-sidenav {
      width: 250px;
  }