<mat-toolbar color="primary">
  <button
    mat-icon-button
    style="margin-right: 10px"
    (click)="onSideNavButtonClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon>emoji_people</mat-icon>
  <span (click)="onTitleClick()"> My Buddy </span>
  <span class="spacer"></span>
  <app-toolbar-menu></app-toolbar-menu>
</mat-toolbar>

<mat-progress-bar
  mode="indeterminate"
  *ngIf="progressBarService.visibility | async"
></mat-progress-bar>

<div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="isSideNavOpen">
      <app-side-nav></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-body">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
