.spacer {
    flex: 1 1 auto;
  }

  .router-body {
      padding: 20px;
      background-color:cyan;
      height: auto;
      min-height: 100%;
      margin: 0;
  }

  .footer {
      background-color: #673ab7;
      text-align: center;
      color: white;
      font: 500 15px/30px Roboto, "Helvetica Neue", sans-serif;
  }