<div class="button-section">
    <button mat-raised-button color="primary" (click)="onAddExpenseClick()"><mat-icon>add</mat-icon> Add Expense</button>
</div>

<mat-card>
    <mat-card-header>
      <mat-card-title>Expense List</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Enter text to filter." #input>
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Price(Rs.)</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>
  
      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created Time</th>
        <td mat-cell *matCellDef="let element">{{ element.createdTime | date:'medium'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef disableClear>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div style="margin-right: 5px;">
            <button mat-icon-button color="primary" (click)="onEditClick(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onDeleteClick(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="$event.stopPropagation()"></tr>
    </table>
    <ng-container *ngIf="!isDataSourceNotActive()">
      <div>No Expense Found.</div>
    </ng-container>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Expense Statistics</mat-card-title>
      <mat-card-subtitle>Aggregate by category</mat-card-subtitle>
    </mat-card-header>

    
  </mat-card>