<div class="button-section">
    <button mat-flat-button color="primary" (click)="onAddQlinkClick()"><mat-icon>add</mat-icon> Add Link</button>
</div>

<div *ngFor="let container of qlinksArr">
    <mat-card>
       <mat-card-title>{{ container.categoryName }}</mat-card-title>
       <mat-card-subtitle>{{ container.categoryDescription }}</mat-card-subtitle>
       <mat-card-actions>
          <ng-container *ngFor="let l of container.qlinks">
            <a mat-flat-button class="qlinks-button" color="primary" href="{{ l.url }}" target="_blank">{{ l.name }}</a>
          </ng-container>
       </mat-card-actions>
    </mat-card>
</div>
