<mat-card>
    <mat-card-header>
      <mat-card-title>Add Expense</mat-card-title>
    </mat-card-header>
  
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" ngNativeValidate>
      <mat-grid-list cols="2" rowHeight="60px" gutterSize="10px">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" required />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-form-field appearance="fill">
              <mat-label>Expense Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="expenseDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-form-field>
              <mat-label>Category</mat-label>
              <mat-select formControlName="category" name="category" required>
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Price" formControlName="price" required />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">
          <mat-icon>save</mat-icon>Save
        </button>
        <button mat-stroked-button color="primary" type="button" (click)="onCancelClick()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card>
  